<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
    <%= render 'shared/messages' %>
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin /</span> Tours</h4>

      <%= link_to 'New Tour', new_admin_tour_path,class: 'btn btn-primary mb-3  ' %></td>
      <div class="card">
        <h5 class="card-header">Tours</h5>
        <div class="table-responsive text-nowrap">

          <table class="table" id="dataTable">
            <thead>
              <tr>
                <th>Sr.No</th>
                <th>Desination</th>
                <th>Country</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="tour-tabel">
                <% @tours.each_with_index do |tour, index| %>
                <tr id="<%=tour.id%>-<%=tour.sort%>" draggable="true" ondragstart="start()"  ondragover="dragover()" ondrop="drop()">
                    <td><%= index+1 %>  </td>
                    <td><%= tour.destination_name %>  </td>
                    <td><%= tour.country.name %>  </td>
                    <td><%= tour.duration %>  </td>
                    <td><%= tour.price %>  </td>
                    <td class="d-flex">

                    <%= button_to "Edit", edit_admin_tour_path(tour), method: :get, class: "btn btn-sm btn-primary"  %>
                    <%= button_to "Delete", admin_tour_path(tour), method: :delete, class: "btn btn-warning btn-sm"  %>
                    </td>
                </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
   
   
    </div>

<script>
  var row;

  function start() {  
    row = event.target; 
  }

  function dragover() {
    var e = event;
    e.preventDefault(); 
    
    let children= Array.from(e.target.parentNode.parentNode.children);
    
    if(children.indexOf(e.target.parentNode)>children.indexOf(row))
      e.target.parentNode.after(row);
    else
      e.target.parentNode.before(row);
  }

  function drop(e) {
    let ids = []
    let rows = document.getElementById("tour-tabel").children;
    for(let i = 0; i < rows.length; i++) {
      ids.push(rows[i].id);
    }

    $.ajax({
      type: 'POST',
      url: '/admin/tours/sort',
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify({
        sort_ids: ids
      }),
    }).done(
        function() {
          location.reload();
        }
    );;
  }
</script>